.image-carousel {
    position: relative;
    width: 100%;
    max-width: 80%; /* Set the maximum size of the carousel */
    margin: 0 auto; /* Center the carrusel */
    overflow: hidden; /* Hide images outside the container */
}

.carousel-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.carousel-image {
    width: 80%; /* Resize images to 80% of the container */
    height: auto; /* Maintains aspect ratio */
    object-fit: contain; /* Ensures that the image fits without distorting */
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
