.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
}

.page__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.page__title-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  h2 {
    margin: 0;
    font-size: 28px;
    text-align: center;
    color: black;
  }
}

.page__component-section {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* Media Queries for responsiveness */
/*@media (max-width: 768px) {
  .page__container {
    gap: 15px;
    padding: 15px;
  }

  .page__title-section {
    padding: 15px;
  }

  h2 {
    font-size: 24px;
  }

  .page__map-container {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .page__container {
    gap: 10px;
    padding: 10px;
  }

  .page__title-section {
    padding: 10px;
  }

  h2 {
    font-size: 20px;
  }

  .page__map-container {
    padding: 10px;
  }
}*/